flask
gunicorn
asyncio
attrs==20.3.0
autobahn==19.11.2
Automat==20.2.0
backtrader==1.9.76.123
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.3.1
enum34==1.1.10
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
kiteconnect==3.9.2
lxml==4.6.3
nsepy==0.8
numpy==1.20.0
pandas==1.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
service-identity==18.1.0
six==1.15.0
soupsieve==2.2.1
txaio==20.12.1
urllib3==1.26.3
zope.interface==5.2.0
Twisted
